<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form  #loginForm='ngForm'>
                  <img class="logo" src="assets/img/logo.png" style="width:200px ; margin-right: 25%;">
                  <p class="text-muted">تسجيل دخول</p>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend" [class.has-error]='email.invalid && email.touched'
                    [class.has-success]='email.valid'>
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control"
                        [(ngModel)]='formData.email'
                        placeholder="الايميل"
                        name='email'
                        #email='ngModel'
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                        required/>
                   </div>
                   <div style="margin-bottom: 20px;">
                       <span class="alert alert-danger" *ngIf='email.touched && email.errors && email.errors.required'>الايميل مطلوب</span>
                       <span class="alert alert-danger" *ngIf='email.errors && email.errors.pattern'>الايميل غير صحيح</span>
                   </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend"  [class.has-error]='password.invalid && password.touched'
                    [class.has-success]='password.valid'>
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control input-text" id="password" placeholder="كلمة المرور"
                    [(ngModel)]='formData.password'
                     name='password'
                     #password='ngModel'
                     minlength="8"
                     maxlength="20"
                     required/>
                  </div>
                  <div style="margin-bottom: 20px;" >
                    <span class="alert alert-danger" *ngIf='password.touched && password.errors && password.errors.required'>كلمة المرور مطلوبة</span>
                    <span class="alert alert-danger" *ngIf='password.errors && password.errors.minlength'>اقل عدد متاح 8 </span>
                </div>

                  <div class="row">
                    <div class="col-6">
                      <input style="padding-left: 20px !important;"  (click)="login(formData)"  type="button" class="btn btn-primary px-4" value="تسجيل دخول">
                    </div>
                    <div class="col-6 text-right">
                      <button type="button"  (click)="forgotPassword()" class="btn btn-link px-0">؟هل نسيت كلمة المرور</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
