:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
.buttons{
  margin-top: 30px;
  margin-bottom: 30px;
}
.help-block{
  color: white;
  background-color: #ff0000b0;
  border-radius: 5px;
  padding:10px;
  font-size: 12px;

}
.submit-field{
  margin-bottom: 10px;
}
.alert-danger {
  top: 0px;
  float: left;
  width: 100%;
  color: #813838;
  background-color: #fee2e1;
  border-color: #fdd6d6;
}



