<div class="animated fadeIn">
  <div class="card">
   <div class="card-body">
      <div class="row align-items-center mt-3">
        <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
          <form [formGroup]="changePasswordForm" novalidate>
            <div class="modal-dialog modal-info" role="document">
              <div class="modal-content">
                <div class="modal-body">


               <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">

                          <div *ngFor="let alert of alerts">
                            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
                          </div>


                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                              </div>
                              <input type="password" id="oldpassword" name="oldpassword" class="form-control"
                                placeholder="كلمة المرور القديمة" autocomplete="current-password"
                                formControlName='oldpassword'>
                            </div>
                            <div *ngIf="oldpassword.invalid && (oldpassword.dirty || oldpassword.touched)"
                              class="alert alert-danger">
                              <div *ngIf="oldpassword.errors.required">
                               كلمة المرور القديمة مطلوبة
                              </div>
                            </div>


                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                              </div>
                              <input type="password" id="newpassword" name="newpassword" class="form-control"
                                placeholder="كلمة المرور الجديدة" autocomplete="current-password"
                                formControlName='newpassword'>
                            </div>
                            <div
                              *ngIf="changePasswordForm.controls['newpassword'].invalid && (changePasswordForm.controls['newpassword'].dirty || changePasswordForm.controls['newpassword'].touched)"
                              class="alert alert-danger">
                              <div *ngIf="changePasswordForm.controls['newpassword'].errors.required">
                               كلمة المرور الجديدة
                              </div>
                            </div>

                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                              </div>
                              <input type="password" id="confirmpassword" name="confirmpassword" class="form-control"
                                placeholder="تأكيد كلمة المرور" autocomplete="current-password"
                                formControlName='confirmpassword'>
                            </div>
                            <div
                              *ngIf="changePasswordForm.controls['confirmpassword'].invalid && (changePasswordForm.controls['confirmpassword'].dirty || changePasswordForm.controls['confirmpassword'].touched)"
                              class="alert alert-danger">
                              <div *ngIf="changePasswordForm.controls['confirmpassword'].errors.required">
                                تأكيد كلمة المرور مطلوب
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="modal-footer">
                  <button type="button" class="button btn btn-danger" (click)="infoModal.hide();revert();">اغلاق</button>
                  <button type="submit" class="btn button  btn-success"
                    [disabled]="changePasswordForm.pristine || changePasswordForm.invalid"
                    (click)="submitPasswordChangeRequest();">الحفظ</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
