<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>التسجيل</h1>
                <p class="text-muted">انشاء حساب جديد</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="اسم المستخدم" autocomplete="اسم المستخدم" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="الايميل" autocomplete="الايميل" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="كلمة المرور" autocomplete="كلمة المرور" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="تأكيد كلمة المرور" autocomplete="تاكيد كلمة المرور" required>
                </div>
                <button type="button" class="btn btn-block btn-success">حفظ</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
