<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form  #loginForm='ngForm'>
                  <img class="logo" src="assets/img/logo.png" style="width:200px ; margin-right: 25%;">
                  <p class="text-muted">ارسال رابط استعادة كلمة المرور</p>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend" [class.has-error]='email.invalid && email.touched'
                    [class.has-success]='email.valid'>
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control"
                        [(ngModel)]='formData.email'
                        placeholder="الايميل"
                        name='email'
                        #email='ngModel'
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                        required/>
                   </div>
                   <div style="margin-bottom: 20px;">
                       <span class="alert alert-danger" *ngIf='email.touched && email.errors && email.errors.required'>الايميل مطلوب</span>
                       <span class="alert alert-danger" *ngIf='email.errors && email.errors.pattern'>الايميل غير صحيح</span>
                   </div>

                  <div class="row">
                    <div class="col-6">
                      <input style="padding-left: 20px !important;"  (click)="forgotpassword(formData)"  type="button" class="btn btn-primary px-4" value="ارسال">
                    </div>

                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>

